@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@font-face {
  font-family: "Quran Reguler";
  src: url("../fonts/ayat-quran-286-font/AyatQuran8-Yqz0j.ttf");
}
@font-face {
  font-family: "Quran Reguler2";
  src: url("../fonts/QuranRegular.ttf");
}
@font-face {
  font-family: "Noto Regular";
  src: url("../fonts/NotoNastaliqUrdu-Regular.ttf");

  .noto-regular {
    font-family: "Noto Regular" !important;
  }
}
.font-quran {
  font-family: "Quran Regule" !important;
}
.font-quran2 {
  font-family: "Quran Regule2" !important;
}
:root {
  --color-primary: #00977b; /* لون رئيسي */
  --color-secondary: #e1f1f1; /* لون ثانوي */
  --color-accent: #fff; /* لون بارز */
  --color-background: #f4f6fa; /* لون الخلفية */
  --color-text-primary: #3e4c52; /* لون النص الأساسي */
  --color-text-secondary: #aabac7; /* لون النص الثانوي */
  --color-border: #e1f1f1; /* لون الحدود */
  --color-shadow: rgba(0, 0, 0, 0.1); /* لون الظل */
  --color-hover: #e1f1f1; /* لون التأثير عند التحويم */
  --color-link: #0000008c; /* لون الروابط */
  --color-neutral: #000000; /* لون محايد (أسود في الوضع العادي) */
}

// :root {
//   --bg-color: #f4f6fa;
//   --hover-links-nav: #e1f1f1;
//   --border-color: #e1f1f1;
//   --green-color: #00977b;
//   --text-color: #3e4c52;
//   --color-links-nav: #0000008c;
//   --white: #fff;
// }
// .dark {
//   --bg-color: #1d2239;
//   --hover-links-nav: #292e48;
//   --border-color: #404762;
//   --green-color: #00977b;
//   --text-color: #fff;
//   --color-links-nav: #fff;
//   --white: #292e48;
// }
.dark {
  --color-primary: #00977b; /* لون رئيسي */
  --color-secondary: #e1f1f1; /* لون ثانوي */
  --color-accent: #292e48; /* لون بارز */
  --color-background: #1d2239; /* لون الخلفية */
  --color-text-primary: #fff; /* لون النص الأساسي */
  --color-text-secondary: #aabac7; /* لون النص الثانوي */
  --color-border: #e1f1f1; /* لون الحدود */
  --color-shadow: rgba(0, 0, 0, 0.1); /* لون الظل */
  --color-hover: #292e48; /* لون التأثير عند التحويم */
  --color-link: #fff; /* لون الروابط */
  --color-neutral: #fff; /* لون محايد (أسود في الوضع العادي) */
}

.btn-bg {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  border: none !important;
  margin: 90px auto 0 !important;
  width: fit-content;
  display: flex;
}
.nice-select {
  padding-right: 18px !important;
  padding-left: 30px !important;
  &::after {
    left: 12px !important;
    right: auto;
  }
  ul {
    overflow-y: auto !important;
    height: 250px;
  }
  li {
    text-align: right !important;
  }
}

a {
  text-decoration: none;
}
.sidebar {
  width: 375px;
  height: 100vh;
  background-color: var(--color-accent);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  &.active {
    left: 0;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .header-sidebar {
    padding: 20px 15px 5px;
    border-bottom: 1px solid #ebeef0;
    h3 {
      font-family: "Changa", sans-serif;
      font-size: 22px;
      color: var(--color-link);
    }
    svg {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 5px;
      cursor: pointer;
      fill: var(--color-neutral);
      &:hover {
        background-color: var(--color-primary);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        fill: var(--color-accent);
      }
    }
  }
  .content-sidebar {
    padding: 40px 15px 20px;
    h3 {
      font-family: "Changa", sans-serif;
      font-size: 17px;
      margin-bottom: 15px;
      color: var(--color-neutral);
    }
    .note {
      font-size: 12px;
      color: var(--color-link);
      margin-top: 10px;
    }
    .theme-swticher {
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      &:not(:first-child) {
        margin-top: 20px;
      }
      .swticher {
        background-color: #f8f9fa;
        button {
          font-size: 16px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          color: #000;
          svg {
            margin-right: 5px;
            font-size: 19px;
            color: var(--color-link);
            opacity: 0;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
          }
          &.active {
            background-color: var(--color-accent);
            color: var(--color-link);
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
body {
  font-family: "Changa", sans-serif;
  background-color: var(--color-background) !important;

  .services {
    border: 1px solid var(--color-border);
    p {
      color: #aabac7;
    }
  }
  .slide {
    background-color: var(--color-accent) !important;
    p {
      font-family: "Quran Reguler";
      font-size: 28px;
      color: var(--color-text-primary);
    }
  }
  .cards {
    .card {
      border: 1px solid rgba(0, 0, 0, 0.125);
      background-color: transparent;
    }
  }
}
.home-page {
  .title-website {
    background-color: var(--color-accent) !important;
    border: 1px solid var(--color-border);
    h1 {
      color: var(--color-primary);
    }
    p {
      color: var(--color-text-primary);
      font-weight: 300;
      font-size: 16px;
    }
  }
  .title-section {
    .title {
      display: flex;
      align-items: center;
      h2 {
        font-weight: 400;
        font-size: 28px;
        color: var(--color-text-primary);
      }
      span {
        background-color: var(--color-primary);
        width: 14.41px;
        height: 17px;
        display: block;
        margin-left: 8px;
      }
    }
    .info {
      p {
        color: #aabac7;
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
  .ayah {
    #text {
      border: 1px solid var(--color-border);
      background-color: var(--color-accent);
      color: var(--color-text-primary);
    }
  }
}
.surah {
  background-color: var(--color-accent) !important;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  h1 {
    font-size: 22px;
    color: var(--color-text-primary);
  }
  p {
    color: var(--color-primary);
  }
}
nav {
  .navbar-brand {
    font-family: "Noto Regular";
    color: var(--color-text-primary) !important;
  }
  ul {
    &.dropdown-menu {
      background-color: var(--color-accent) !important;
    }
    li {
      padding: 5px !important;
      background-color: transparent !important;
      a {
        color: var(--color-link) !important;
        background-color: transparent !important;
      }
      .point {
        display: inline-block;
        width: 7px;
        height: 7px;
        background: #d53c3c;
        border-radius: 50%;
        transition: 0.3s;

        &.active {
          animation: 1s infinite alternate point;
          transition: 0.3s;
        }
      }
      &:hover {
        background-color: var(--color-hover) !important;
        transition: 0.3s;
        border-radius: 5px;
      }
    }
  }
}

#quran {
  color: var(--color-text-primary);
  background-color: var(--color-accent);

  p {
    line-height: 69px;
    font-size: 28px;
    span.quran {
      font-family: "Quran Reguler", serif !important;
    }
    span.icon {
      font-family: "Quran Reguler2" !important;
    }
  }
}
.name {
  color: var(--color-text-primary);
}

@keyframes point {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.azkars-page {
  .title {
    h1 {
      color: var(--color-neutral);
    }
    p {
      color: var(--color-neutral);
    }
  }
  .azkars {
    .item {
      padding: 15px;
      background-color: var(--color-accent);
      & > p {
        color: var(--color-text-primary);
      }
      .zekr {
        font-family: "Quran Reguler2", serif !important;
        font-size: 24px;
        margin-bottom: 15px !important;
        margin-top: 35px !important;
        font-weight: 500;
        color: var(--color-text-primary);
      }
      .zekr-button {
        border: 2px solid lightblue;
        background-color: transparent;
        border-radius: 20px;
        padding: 10px;
        color: var(--color-text-primary);
        width: 100%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        &.done {
          cursor: auto;
          opacity: 0.5;
        }
      }
    }
  }
}

footer {
  .copyright {
    color: var(--color-text-primary);
  }
  h5 {
    font-size: 19px;
    font-weight: 500;
    color: var(--color-text-primary);
  }
  .list {
    ul {
      li {
        a {
          color: var(--color-link) !important;
        }
      }
    }
  }
}

.azkar-section {
  a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }
}

.audio-surah {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
.rhap_progress-filled {
  background-color: var(--color-primary);
}
.rhap_progress-indicator {
  background-color: var(--color-primary);
}
.rhap_main-controls-button {
  color: var(--color-primary);
}
.rhap_repeat-button {
  color: var(--color-primary);
}
.rhap_volume-button {
  color: var(--color-primary);
}
.rhap_volume-indicator {
  background-color: var(--color-primary);
}
.stories {
  .video-list {
    background-color: #fff;
    height: 520px;
    overflow-y: scroll;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    .video {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: var(--color-background);
      margin: 10px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      img {
        width: 100px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      h3 {
        color: var(--color-text-primary);
        font-size: 17px;
      }
    }
  }
  iframe {
    width: 100%;
    height: 520px;
    @media (max-width: 991px) {
      height: 300px;
      margin-top: 50px;
    }
  }
}
